<!DOCTYPE html>
<html>
  <head>
    <title>Mun Illustrations</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <li class="navbar-brand" href="#"><%= link_to "Mun Illustrations", root_path %></li>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <% @categoryNav.each do |category| %>
              <li> <%= link_to category.name, category_path(category.id) %></li>
            <% end %>

            <li> <%= link_to "About", static_pages_about_path %></li>
            <li> <%= link_to "Contact", static_pages_contact_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

              <li><%= link_to "Upload Image", upload_path %></li>
              <li> <%= link_to 'Add Exhibition', new_category_path %> </li>
              <li><%= link_to "Account" %></li>
              <li><%= link_to "Sign Out" %></li>


            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>-->
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <!-- Alerts % Messages -->
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success"> <%= flash[:notice] %> </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-danger"> <%= flash[:alert] %> </div>
        <% end %>
        <%= yield %>

      </div><!-- /.container -->
    </section>


    <footer>
      <p>Copyright &copy; 2018, Created by Alex Furtuna</p>
    </footer>
  </body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
